<table>
  <caption>Book list</caption>
  <thead>
    <tr>
      <th>ISBN</th>
      <th>あいうえおああ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>data</td>
    </tr>
  </tbody>
</table>